[submodule "salt/formulas/zendserver"]
	path = salt/formulas/zendserver
	url = https://github.com/saltstack-formulas/zendserver-formula.git
[submodule "salt/formulas/phpfpm"]
	path = salt/formulas/phpfpm
	url = https://github.com/Enrise/phpfpm-formula.git
[submodule "salt/formulas/mariadb"]
	path = salt/formulas/mariadb
	url = https://github.com/Enrise/mariadb-formula.git
[submodule "salt/formulas/nginx"]
	path = salt/formulas/nginx
	url = https://github.com/Enrise/nginx-formula.git
[submodule "salt/formulas/vhosting"]
	path = salt/formulas/vhosting
	url = https://github.com/Enrise/vhosting-formula.git
[submodule "salt/formulas/composer"]
	path = salt/formulas/composer
	url = https://github.com/Enrise/composer-formula.git
[submodule "salt/formulas/mailhog"]
	path = salt/formulas/mailhog
	url = https://github.com/Enrise/mailhog-formula.git
