# Configure base settings for your box
$vm_hostname = "my.vagrant.box"
$vm_ip       = "192.168.56.123"
$vm_box      = "ubuntu/trusty64"

# Optional aliases to set (requires vagrant-hostsupdater plugin)
#$vm_aliases  = ['alias1.nl', 'alias2.com']

# Define how much memory you want to assign to the VM
$vm_memory = 1024
$vm_cpus   = 1

# This will tell the Vagrant box to either use NFS, or not. The default value is true
# which will have give the best performance, but is more difficult on Windows hosts
$use_nfs = false

# If the basebox is located somewhere else it can be entered here.
# $basebox_path = "dev/basebox"

# If the Salt custom path is located somewhere else it can be entered here.
# $salt_custom_path = "dev/salt"

# Run Salt highstate upon provisioning
$salt_highstate = true
